<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>World Bank Countries Profiles</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='mrp.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
   
  </head>
  <body>
    <header>
      <h1>World Bank Countries Profiles</h1>
      <input type="text" id="search" placeholder="Search for a country..." oninput="filterAndDisplay()" />
    </header>
    <div id="content">
      <div id="countries-list"></div>
      <div class="pagination" id="pagination"></div>
    </div>
    <script src="{{ url_for('static', path='script.js' ) }}"></script>
  </body>
</html>
